.top-bar{

	width: 100%;
	height: 100px;
	
	margin: 0;

}

body {

	margin: 0;

}

#user-icon{
	margin-top: 20px;
	margin-right: 20px;
	
	float: right;
	display: inline;

}

.menu-bar{

	background-color: #1e5878;
	width: 80%;
	height: 100%;
	margin: 0 auto;

}


#shopping-cart{

	float: right;
	margin-top: 20px;
	margin-right: 60px;
	
	float: right;
	display: inline;

}

#logo{
	margin-left: 60px;
	margin-top: 25px;
	display: inline;

}